h1{
    text-align: center;
    /* <!--------------------------------------------------------------《 TEXT-SHADOW (SOMBRA EN TEXTO) 》------------------------------------------------------------------------------------> */
    /* <!-------------------------- ▀ Primer valor: ejeX -------------------> */
    /* <!-------------------------- ▀ Segundo valor: ejeY -------------------> */
    /* <!-------------------------- ▀ Tercer valor: blur (difuminado), la sombra no sea tan dura y permite leer el texto -------------------> */
    text-shadow: 2px 2px 5px grey;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;

    /* <!--------------------------------------------------------------《 BOX-SHADOW (SOMBRA A ELEMENTO) 》------------------------------------------------------------------------------------> */
    /* <!-------------------------- ▀ Primer valor: ejeX -------------------> */
    /* <!-------------------------- ▀ Segundo valor: ejeY -------------------> */
    /* <!-------------------------- ▀ Tercer valor: blur (difuminado), la sombra no sea tan dura, se puede agregar 0 -------------------> */
    /* <!-------------------------- ▀ Cuarto valor: Spread (propagar), crecer más la sombra -------------------> */
    box-shadow: 2px 2px 5px 2px grey;
}