*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #e63946;
}


div{
    /*--------------------------------------------------------------《 PADDING 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Se pueden poner diferentes valores -------------------*/
    /*padding: 10px;*/
    /*-------------------------- ▀ 10px superior e inferior, 5px derecho e izquierdo-------------------*/
    /*padding: 10px 5px;*/
    /*-------------------------- ▀ 10px superior, 5px derecho e izquierdo, 15px inferior-------------------*/
    /*padding: 10px 5px 15px;*/
    /*-------------------------- ▀ 10px superior, 15px derecho, 5px inferior, 3px izquierda-------------------*/
    padding: 10px 15px 5px 3px;

    border: 0px solid #457b9d;
    margin: 0px;
    background-color: #f1faee;
    width: 300px;
    /*--------------------------------------------------------------《 OUTLINE 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Esta entre el borde y el margen, no se toma en cuenta para la suma, se puede modificar su color -------------------*/
    /*-------------------------- ▀ Se puede utilizar los tipos de borde, se pone encima del margen si se tiene, si no se encuentra fuera del elemento, se puede superponer arriba de otros elementos html -------------------*/
    /*outline: 10px solid #a8dadc;*/
    /*--------------------------------------------------------------《 OUTLINE-OFFSET》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Separación entre el borde y este elemento outline, solo se puede aplicar un valor, no sirve poner 10px 5px 3px 2px -------------------*/
    /*outline-offset: 10px;*/
    /*--------------------------------------------------------------《 BOX-SIZING 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Con esta propiedad se establece un ancho fijo del contenido con el with y suma el padding y el borde en el widt, todo va a sumar lo que mida el width-------------------*/
    box-sizing: border-box;
}