h1 {
    text-align: center;
    color: crimson;
}
/* 
div.relativo{
    width: 300px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 100px;
    border: 3px solid cornflowerblue;
} */

/*--------------------------------------------------------------《 CENTRAR DIV 》-----------------------------------------------------------------------------------*/
/*-------------------------- ▀ Poner valor máximo de width en porcentaje ------------------*/
/*-------------------------- ▀ Colocar márgin auto ------------------*/
div{
    /*--------------------------------------------------------------《 TIPOS DE POSICIONAMIENTO 》-----------------------------------------------------------------------------------*/

    /*-----------------------------------《 STATIC 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Valor por default de elementos como div ------------------*/
    /*------------------------ ▀ Muestra el elemento tal cual en el flujo esperado ------------------*/
    /*------------------------ ▀ Top, left, right,bottom NO SIRVEN CON STATIC ------------------*/
    /* position: static; */

    /*-----------------------------------《 RELATIVE 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Dependiendo de la posición natural del elemento se va a mover de manera relativa  ------------------*/
    /*------------------------ ▀ Sigue reservando el espacio que tiene originalmente ------------------*/
    /*------------------------ ▀ Top, left, right,bottom SI SIRVEN CON RELATIVE ------------------*/
    /*------------------------ ▀ Los otros elementos se agregan de forma natural respetando el espacio del elemento relative ------------------*/
    /* position: relative  ; */

    /*-----------------------------------《 FIXED O AJUSTADA 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Se coloca el elemento de forma relativa al viewport disponoble de la página ------------------*/
    /*------------------------ ▀ NO se respeta su espacio ------------------*/
    /*------------------------ ▀ Se muestra de manera fija ------------------*/
    /*------------------------ ▀ Top, left, right,bottom SI SIRVEN CON FIXED ------------------*/
    /* position: fixed; */

    /*-----------------------------------《 ABSOLUTE 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Se utiliza cuando se está trabajando dentro de otro elemento de tipo DIV ------------------*/
    /*------------------------ ▀ Se coloca de manera absoluta tomando en cuenta el elemento que lo contiene ------------------*/
    /*------------------------ ▀ Se queda en la posición que le toca ------------------*/
    /*------------------------ ▀ FUNCIONA SOLO SI EL PADRE NOOOOO ESSSSS STATIC ya que en static no funciona top, left...------------------*/
    /*------------------------ ▀ Top, left, right,bottom SI SIRVEN CON ABSOLUTE ------------------*/
    /* position: absolute; */

    /*-----------------------------------《 STICKY O PEGAJOSO 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Se debe utilizar Top, left, right o bottom para que funcione ------------------*/
    /*------------------------ ▀ Se coloca de manera relativa pero en cuanto sale de pantalla se coloca de manera fija, al regresar vuelve a tomar su espacio ------------------*/
    /*------------------------ ▀ position: -webkit-sticky; para que en zafari funcione de manera correcta sticky ------------------*/
    /*------------------------ ▀ en explorer no funciona ------------------*/
    position: sticky;
    position: -webkit-sticky; /*para que en zafari funcione de manera correcta sticky*/
    top: 0;
    bottom: 20px;
    right: 10px;
    /* max-width: 50%; */
    border: 3px solid firebrick;
    /* margin: auto; */
}