h1 {
    text-align: center;
    color: crimson;
}

/*--------------------------------------------------------------《 CENTRAR DIV 》-----------------------------------------------------------------------------------*/
/*-------------------------- ▀ Poner valor máximo de width en porcentaje ------------------*/
/*-------------------------- ▀ Colocar márgin auto ------------------*/
div {
    /*--------------------------------------------------------------《 TIPOS DE POSICIONAMIENTO 》-----------------------------------------------------------------------------------*/

    /*-----------------------------------《 STATIC 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Valor por default de elementos como div ------------------*/
    /*------------------------ ▀ Muestra el elemento tal cual en el flujo esperado ------------------*/
    /*------------------------ ▀ Top, left, right,bottom NO SIRVEN CON STATIC ------------------*/
    /* position: static; */

    /*-----------------------------------《 RELATIVE 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Dependiendo de la posición natural del elemento se va a mover de manera relativa  ------------------*/
    /*------------------------ ▀ Sigue reservando el espacio que tiene originalmente ------------------*/
    /*------------------------ ▀ Top, left, right,bottom SI SIRVEN CON RELATIVE ------------------*/
    /*------------------------ ▀ Los otros elementos se agregan de forma natural respetando el espacio del elemento relative ------------------*/
    /* position: relative  ; */

    /*-----------------------------------《 FIXED O AJUSTADA 》-----------------------------------------------------------------------------------*/
    /*------------------------ ▀ Se coloca el elemento de forma relativa al viewport disponoble de la página ------------------*/
    /*------------------------ ▀ NO se respeta su espacio ------------------*/
    /*------------------------ ▀ Se muestra de manera fija ------------------*/
    /*------------------------ ▀ Top, left, right,bottom SI SIRVEN CON FIXED ------------------*/
    position: fixed;
    top: 0;
    right: 0;
    /* max-width: 50%; */
    border: 3px solid firebrick;
    /* margin: auto; */
}