h1{
    color: #ef476f;
    /*background-color: beige;*/
    text-align: center;
    text-transform: uppercase;
    /*--------------------------------------------------------------《 SOMBRA ALREDEDOR DE LA FUENTE 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀  Eje X, Eje Y, Difuminado (Que tanto se difumina) y Color -------------------*/
    text-shadow: 2px 2px 2px #ced4da;

    /*--------------------------------------------------------------《 SEPARAR LOS CARACTERES INDIVIDUALES 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀  Se pueden colocar valores negativos  -------------------*/
    letter-spacing: 3px;    
    /*--------------------------------------------------------------《 SEPARAR PALABRAS COMPLETAS 》------------------------------------------------------------------------------------*/
    word-spacing: 10px;

    /*--------------------------------------------------------------《 LINEA SUPERIOR E INFERIOR 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀  Se puede poner una o las dos  -------------------*/
    text-decoration: overline underline;
}

.caja{
    padding: 15px;
    margin: auto;
    width: 70%;
    background-color: #219ebc;
    border-radius: 5px;
    color: #fff;
}

.texto{
    /*--------------------------------------------------------------《 JUSTIFICAR TEXTO 》------------------------------------------------------------------------------------*/
    text-align: justify;

    /*--------------------------------------------------------------《 DIRECCIÓN DEL TEXTO 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Default es ltr (left to right)  -------------------*/
    /*direction: rtl;*/

    /*--------------------------------------------------------------《 SUBRAYAR TEXTO 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Para enlaces es none para quitar el subrayado -------------------*/
    /*-------------------------- ▀ Para subrayar -------------------*/
    /*text-decoration: underline;*/
    /*-------------------------- ▀ Para tachar texto  -------------------*/
    /*text-decoration: line-through;*/
    /*-------------------------- ▀ Linea encima del texto  -------------------*/
    /*text-decoration: overline;*/

    /*--------------------------------------------------------------《 IDENTAR TEXTO 》------------------------------------------------------------------------------------*/
    text-indent: 30px;

    /*--------------------------------------------------------------《 SEPARAR LAS LINEAS DE TEXTO 》------------------------------------------------------------------------------------*/
    /*-------------------------- ▀ Valor por default es 1.2, no se especifica en pixeles, se toma proporcional a la fuente que se utiliza  -------------------*/
    line-height: 1.5;

    /*--------------------------------------------------------------《 NO SE ENVUELVE EL TEXTO EN EL DIV 》------------------------------------------------------------------------------------*/
    /*white-space: nowrap;*/
    white-space: normal;

    /*--------------------------------------------------------------《 SOMBRA EN EL TEXTO 》------------------------------------------------------------------------------------*/
    text-shadow: 1px 1px 2px #ced4da;
}
