/*--------------------------------------------------------------《 SELECTOR UNIVERSAL 》------------------------------------------------------------------------------------*/
/*-------------------------- ▀ Estilos a todo -------------------*/
*{
    background-color: ghostwhite;
    color: cornflowerblue;
}

/*--------------------------------------------------------------《 3 ARCHIVO EXTERNO CSS 》------------------------------------------------------------------------------------*/
/*-------------------------- ▀ Definido en un archivo externo TERCERA PRIORIDAD -------------------*/
/*h1 {*/
    /*-------------------------- ▀ Important para que sea la prioridad 1 ese atributo -------------------*/
    /* color: aqua !important; */
    /*color: aqua;

}*/


/*--------------------------------------------------------------《 ESTILOS A ID 》------------------------------------------------------------------------------------*/
/*-------------------------- ▀ El ID es un elemento único -------------------*/
#titulo{
    color: crimson;
    text-align: center;
}

/*--------------------------------------------------------------《 ESTILOS A CLASES 》------------------------------------------------------------------------------------*/
/*-------------------------- ▀ La clase se puede repetir -------------------*/
.centrar{
    text-align: center;
}

.texto_grande{
    font-size: 20px;
}