h1{
    text-align: center;
}

.punteado{
    border-style: dotted;
    /*-------------------------- ▀ Dar diferente tamaño de borde a cada lado ------------------- */
    border-width: 10px 5px 3px 2px;
    /*-------------------------- ▀ Color al borde ------------------- */
    /* border-color: crimson; */

    /*-------------------------- ▀ Color al borde diferentes ------------------- */
    border-color: crimson hotpink gold lime;
}

.discontinuo{
    border-style: dashed;
    /*-------------------------- ▀ Ancho del borde DELGADO ------------------- */
    /* border-width: thin; */

    /*-------------------------- ▀ Ancho del borde MEDIANO ------------------- */
    /* border-width: medium; */

    /*-------------------------- ▀ Ancho del borde ANCHO ------------------- */
    border-width: thick;

    border-color: hsla(203, 39%, 44%, 0.61);
}

.solido{
    border: solid red;
    /*-------------------------- ▀ Con 3 valores se aplica 10px en superior, 5px izquierda y derecha, 2px abajo ------------------- */
    border-width: 10px 5px 2px ;
}

.doble{
    border: 5px double blueviolet;
    /*-------------------------- ▀ Con 2 valores se aplica 10px en superior e inferior y 5px izquierda y derecha ------------------- */
    border-width: 10px 5px;
}

.surco{
    border: 10px groove;
    /* border-width: 10px; */
    /* border-style: groove; */

    /*-------------------------- ▀ Aplicar a cada lado ------------------- */
    /* border-top-width: ;
    border-left-width: ;
    border-bottom-width: ;
    border-right-width: ; */
}

.cresta{
    border: 10px ridge;
}

.recuadro{
    border: 10px inset;
}

.outset{
    border: 10px outset;
}

.sin_borde{
    border: none;
}

.oculto{
    border: hidden;
}

.mixto{
    border-style: dotted solid dashed double;
}